* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    max-width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #191931;
    color: #e1e1f1;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding-top: 3rem;
    gap: 1rem;
}

.Logo {
    width: 7rem;
    border-radius: 50%;
    object-fit: cover;
    object-position: top;
    box-shadow: 0 0 8px 1px #dcab4f;
    flex-wrap: nowrap;
}

h2 {
    text-align: center;
    text-wrap: balance;
}

h4 {
    font-family: 'Outfit', sans-serif;
    padding-bottom: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

i {
    font-size: 1.5rem;
}

.sosmed i {
    font-size: 1.8rem;
    color: white;
}

.sosmed a:not(:last-child) {
    margin-right: 1rem;
}

.link-bar {
    display: flex;
    width: 80%;
    max-width: 35rem;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #e1e1f1;
    padding: 8px;
    color: #e1e1f1;
    text-decoration: none;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    transition-duration: 200ms;
}

.link-bar:hover {
    background: #dcab4f;
    color: #191931;
}

h5 {
    padding-top: 10px;
}
